
h1 {
  font-family: 'Lobster', cursive;
  font-size: 72px;
  margin-top: 2rem;
  text-align: center;

}

#pairing {
	text-align: center;
	display: block;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}

textarea {
	width: 600px;
  height: 300px;

}

/*.starRating:not(old){ 
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;  
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}*/

.rate {
    float: middle;
    height: 80px;
    padding: 0 10px;
    display : inline-block;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width: 1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:60px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
   color: #842239;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
   color: #842239;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
   color: #842239;
}

#submit {
  width: 20em;  height: 2em;
}

#clear {
  width: 20em;  height: 2em;
}

#buttons {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
}