.title {
  font-family: 'Lobster', cursive;
  font-size: 72px;
  margin-top: 2rem;
}

.searchbar-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.trending-section-header {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
}

.footer-info {

}
