/*
img.pairing-img {
    width: 30em;
    align-content: center;
}

#pairing-info {
    align-content: center;
}

.col-sm-6 {
    align-content: center;
}*/

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pairings-container {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.star.border {
   /*font-size: 128px;*/
   color: white;
   /*border-color: #842239;*/
   /* Some sort of border */
   text-shadow: -1px 0 #842239, 0 1px #842239, 1px 0 #842239, 0 -1px #842239;
}

.star {
   /*font-size: 128px;*/
   color: #842239;
   /* Some sort of border */
   /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.review-title {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    /*padding-right: 30rem;*/
    /*margin: 0rem;*/
}

.btn {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-color: #842239;
    border-color: #842239;
    color: white;
    float: right;
    /*line-height: 50px;*/
    
    vertical-align: text-top;
    /*display: inline-block;*/
    /*text-align: right;*/
    /*display : flex;*/
    /*align-items : center;*/
    padding-left:2rem;
    padding-right:2rem;

    
}

.btn:hover {
    background-color: #ffbbbc;
    border-color: #ffbbbc;
    /*color: #ffbbbc;*/
}

hr {
    border-color: #842239;
}

#review-col-header {
    text-align: right;
}


#review-table {border:0px solid transparent;}


a {
    color: black;
}

a:hover {
    color: #ffbbbc;
}


.searchrow{
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #620017;
    background-color: white;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.pairing {

    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.numReviews, .rating {
    font-family: 'Tangerine', cursive;
    font-size: 24px;
    text-align: center;
}

